@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/andreia/filament-nord-theme/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/bezhansalleh/filament-exceptions/resources/views/**/*.blade.php';
@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';
